@(message: String)

@main("TPL") {

<form>
<div data-role="page" id="timeTablePage" class="ui-page-green ui-page ui-body-c ui-page-header-fixed" data-url="timeTablePage" tabindex="0" style="padding-top: 50px; min-height: 375px;cursor: none; ">
	<div data-role="header" data-position="fixed" data-theme="a" class="ui-header ui-bar-a ui-header-fixed slidedown" role="banner" >
		<h1 id="busStop" class="ui-title" role="heading" aria-level="1">Bus stop: Università</h1>
		   </form>  
    </div>
	<div data-role="content" class="ui-content" role="main">
		<ul data-role="listview" id="timeTableList" class="ui-listview"></ul>
	</div>
	
	<div data-role="footer" class="ui-footer" role="footer" style = "margin-top: 400px">
	
		 <div id="footer-source" class="" style="margin-top: 10px;margin-bottom: 10px;font-size: 12px;margin-left: 10px;display: inline-block;"> Source: TPL (http://bs.tplsa.ch)</div>
		<div id="footer-update" class="" style="display: inline-block;float: right;margin-right: 15px;margin-top: 10px;font-size: 12px;"></div>
	</div>
</div>


}
